body {
 background-image: linear-gradient(#FDFEFE, #A36100);
 font-family: monospace, serif;
 font-size: 100%
}

h1{
font-size: 300%;
color: #000DFF;
text-align: center;
}

img{
 filter: blur (5px);
}

h2{
font-size:200%;
color:#8E1414;
padding-left: 15px;
text-decoration: underline;
}

p{
color: #000000
}


.ejemploblur {
   -webkit-filter: blur(3px);
   -moz-filter: blur(3px);
   -o-filter: blur(3px);
   -ms-filter: blur(3px);
   filter: blur(3px);
}
.ejemploblur:hover {
   -webkit-filter: blur(0px);
   -moz-filter: blur(0px);
   -o-filter: blur(0px);
   -ms-filter: blur(0px);
   filter: blur(0px);
}
