body {
 background-image: linear-gradient(#FDFEFE, #EC7063);
 font-family: monospace, serif;
 font-size: 100%
}

h1{
font-size: 300%;
color: #273746;
text-align: center;
}

hr{
height: 1px;
background-color: black;
}

h2{
font-size:200%;
color:#7B241C;
padding-left: 15px;
}

p{
color: #1B2631
}
