body {
 Body {Background – color : #2369A1;
 font-family: verdana, sans-serif; 
 font-size: 100%;
}

 
h1{
font-size: 300%;
color: #000DFF;
text-align: center;
}


h2{
font-size:200%;
color:#8E1414;
padding-left: 15px;
text-decoration: underline;
}

 
p{
color: #000000
}
 
